* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.brand{
    font-weight: bold;
    font-size: 30px;
    margin-bottom:30px;
}
#container{
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height:100vh;
}
#sidebar {
  display: grid;
  grid-row:1/3;
  grid-template-rows: auto 1fr 1fr;
  padding: 1rem;
  color: white;
  background-color:  rgb(53, 156, 240);
}
.nav {
  display: grid;
  gap: 1rem; 
  align-content: start;
  margin-top:0;

}
#settings {
  display: grid;
  gap: 1.5rem;
  align-content: start;
}
.nav a,
#settings a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.icon {
  width: 24px;
  height: 24px;
  filter:
  brightness(0) invert(1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding-left:5px;

}
.nav-item{
    display:flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
}
